body {
    background-color: black;
    color: #e0e0e0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    min-height: 100vh; 
}

.logo-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.logo {
    width: 150px;
}

main {
    padding: 70px 20px;
    width: 100%; 
    max-width: 1200px; 
}

.main-container {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    max-width: 1200px; 
    padding: 20px; 
    position: relative; 
}

.feed {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    flex: 1; /* Take remaining space */
}

.entry {
    background: hsla(0, 0%, 2%, 0.477);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 100%; /* Use 100% for responsive */
    max-width: 800px; /* Maximum width */
    margin: auto;
    border: 1px solid #333;
    transition: transform 0.3s ease;
}

.entry:hover {
    transform: scale(1.02);
}

.details {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #846f6f;
}

.story {
    padding-top: 10px;
}

.tools-container {
    position: fixed; 
    top: 150px; /* Adjusted to create space from top */
    left: 20px; 
    width: 300px; /* Responsive width */
    max-height: calc(100vh - 150px); /* Prevent overlap with main content */
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    overflow-y: auto; /* Scroll if overflow */
    text-align: left;
}

.tools-container ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.tools-container li {
    margin-bottom: 4px; 
}

.tools-container a {
    color: #e0e0e0; 
    text-decoration: none; 
}

.tools-container a:hover {
    text-decoration: underline;
}

.resources-container {
    position: fixed; 
    top: 150px; /* Adjusted to match tools-container */
    right: 20px; 
    width: 300px; /* Responsive width */
    max-height: calc(100vh - 150px); /* Prevent overlap with main content */
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    overflow-y: auto; /* Scroll if overflow */
    text-align: right; 
}

.resources-container h2 {
    margin-top: 0;
    margin-bottom: 10px; 
}

.resources-container ul {
    list-style: none;
    padding: 0; 
    margin: 0; 
}

.resources-container li {
    margin-bottom: 4px;
}

.resources-container a {
    color: #e0e0e0;
    text-decoration: none;
}

.resources-container a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #1c1c1c;
    color: #f1f1f1;
    text-align: center;
    padding: 20px 0;
    font-size: 0.9rem;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

.footer h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer p {
    margin: 5px 0;
    line-height: 1.6;
}

.about-us,
.contact-info {
    width: 40%;
}

.footer a {
    color: #f1f1f1;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.contact-info a {
    color: #f1f1f1;
    margin: 0 10px;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.contact-info i {
    margin-right: 8px;
    transition: transform 0.3s;
}

.contact-info a:hover i {
    transform: scale(1.3);
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .about-us,
    .contact-info {
        width: 100%;
        margin-bottom: 20px;
    }

    .main-container {
        flex-direction: column; 
        align-items: center; 
    }

    .tools-container,
    .resources-container {
        width: 90%; 
        max-width: 400px; 
        margin-bottom: 20px; 
        position: relative; /* Adjust to relative for small screens */
        top: auto; /* Reset top positioning */
        left: auto; /* Reset left positioning */
        right: auto; /* Reset right positioning */
    }
}
